<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= cl_image_path @list.photo.key %> );">
  <div class="container">
    <h1 class="text-center">Pending</h1>
  </div>
</div>


  <button class="btn btn-success mr-5 rounded"><%= link_to "Add new movie",  new_list_bookmark_path(@list), style: "text-decoration:none;" %> </button>


<% @bookmarks.each do |bookmark| %>
<p><%= bookmark.movie.title %></p>

<% end %>

<%= link_to "< Back",  root_path %>
