.nav-bar {
  background: hotpink;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 5px;
}

.nav-bar li {
  text-decoration: none;
  color: aqua;
  padding-right: 20px;

}

.nav-bar p{
}
