.nav-bar {
  margin-top: 15px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 5px;
}

.nav-bar li a {
  text-decoration: none;
  color: maroon;
  padding-right: 20px;

}
